{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container mt-5">
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-12">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-12">
            {{ form_row(registrationForm.plainPassword)}}
            </div>
            <div class="col-lg-6 col-12">
                {{ form_row(registrationForm.lastname)}}

            </div>
            <div class="col-lg-6 col-12">
                {{ form_row(registrationForm.firstname)}}
            </div>
        </div>
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-primary">Register</button>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
